<div class="row">
    <div id="div1" class="col-6">
        <img src="../../assets/img/dalleu.png" class="img-fluid" alt="...">

    </div>

    <div  class="col-6">

        <div id="div2" class="row">
           <div class="col-9">
             <h3 class="hh1">Douma lekk domada</h3>
           </div>

           <div  class="col-2">
            <p>190.90€</p>
           </div>
  

        </div>
       <div class="row">
        <div class="col-1"></div>
        <div id="div3" class="col-10"><p> éer des Interfaces Utilisateur Réutilisables : Les composants permettent de créer des éléments d'interface utilisateur autonomes et réutilisables. Vous pouvez encapsuler des fonctionnalités spécifiques et les réutiliser dans différentes parties de votre application.
            Organiser le Code : Chaque composant a sa propre logique, son propre modèle HTML et ses propres styles CSS, ce qui facilite la maintenance et l'évolutivité de l'application.
           </p></div>
        <div class="col-1"></div>
       </div>
       <div class="row">
        <div class="col-8"></div>

        <div  id="div4" class="col-3">
            <button type="button" class="btn btn-primary">
                <i class="bi bi-cart"></i> AJOUTER
            </button>
            
       </div>
       <div class="col-1"></div>
       </div>

    </div>
   
    </div>x