#div1,#div2
{
    border: 1px solid black;
}
#div2
{
    height: 100px;
}
.hh1
{
    display: inline-block;
    border-top: none;
    border-right: none;
    border-left: none;
}
#div3,#div4
{
    margin-top: 50px;
}
button
{
    width: 100%;
    background-color: black;
}