<section id="product1" class="section-p1">

    
    <div class="pro-contaire">

        <div class="pro">

            <img src="assets/img/produits/f1.jpg" alt="">

            <div class="des">

                <span>Luminosa Eyewear</span>
                <h5>Éclipse Glamour</h5>

                <div class="star">

                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>

                <h4>30000 Cfa</h4>

            </div>

            <a href="#"> <i class="fal fa-shopping-cart cart"></i></a>

        </div>



        <div class="pro">

            <img src="assets/img/produits/f2.jpg" alt="">

            <div class="des">


                <span>Luminosa Eyewear</span>
                <h5>Éclipse Glamour</h5>

                <div class="star">

                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>30000 Cfa</h4>

            </div>

            <a href="#"> <i class="fal fa-shopping-cart cart"></i></a>

        </div>

        <div class="pro">

            <img src="assets/img/produits/f3.jpg" alt="">

            <div class="des">


                <span>Luminosa Eyewear</span>
                <h5>Éclipse Glamour</h5>

                <div class="star">

                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>30000 Cfa</h4>

            </div>

            <a href="#"> <i class="fal fa-shopping-cart cart"></i></a>

        </div>

        <div class="pro">

            <img src="assets/img/produits/f4.jpg" alt="">

            <div class="des">


                <span>Luminosa Eyewear</span>
                <h5>Éclipse Glamour</h5>

                <div class="star">

                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>30000 Cfa</h4>

            </div>

            <a href="#"> <i class="fal fa-shopping-cart cart"></i></a>

        </div>

        <div class="pro">

            <img src="assets/img/produits/f5.jpg" alt="">

            <div class="des">


                <span>Luminosa Eyewear</span>
                <h5>Éclipse Glamour</h5>

                <div class="star">

                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>30000 Cfa</h4>

            </div>

            <a href="#"> <i class="fal fa-shopping-cart cart"></i></a>

        </div>

        <div class="pro">

            <img src="assets/img/produits/f6.jpg" alt="">

            <div class="des">


                <span>Luminosa Eyewear</span>
                <h5>Éclipse Glamour</h5>

                <div class="star">

                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>30000 Cfa</h4>

            </div>

            <a href="#"> <i class="fal fa-shopping-cart cart"></i></a>

        </div>

        <div class="pro">

            <img src="assets/img/produits/f7.jpg" alt="">

            <div class="des">


                <span>Luminosa Eyewear</span>
                <h5>Éclipse Glamour</h5>

                <div class="star">

                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>30000 Cfa</h4>

            </div>

            <a href="#"> <i class="fal fa-shopping-cart cart"></i></a>

        </div>


        <div class="pro">

            <img src="assets/img/produits/f8.jpg" alt="">

            <div class="des">


                <span>Luminosa Eyewear</span>
                <h5>Éclipse Glamour</h5>

                <div class="star">

                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>30000 Cfa</h4>

            </div>

            <a href="#"> <i class="fal fa-shopping-cart cart"></i></a>

        </div>


    </div>



</section>
