
<div class="container d-flex flex-wrap">

    <!-- 1eme  -->
    <div class="card m-3" style="width: 18rem;">
    
        <div class="card-body">
    
            <div class="row">
                <div class="col-md-12">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12 col-4 d-flex justify-content-end">
                    <h5 class="col-4 d-flex justify-content-end prix">300£</h5>
                </div>
            </div>
    
        </div>
    
        <img src="assets/img/img1.png" class="card-img-top" alt="...">
    
    </div>

    <!-- 2eme -->
    <div class="card m-3" style="width: 18rem;">
    
        <div class="card-body">
    
            <div class="row">
                <div class="col-md-12">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12 col-4 d-flex justify-content-end">
                    <h5 class="col-4 d-flex justify-content-end prix">300£</h5>
                </div>
            </div>
    
        </div>
    
        <img src="assets/img/img2.png" class="card-img-top" alt="...">
    
    </div>

    <!-- 3eme -->

    <div class="card m-3" style="width: 18rem;">
    
        <div class="card-body">
    
            <div class="row">
                <div class="col-md-12">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12 col-4 d-flex justify-content-end">
                    <h5 class="col-4 d-flex justify-content-end prix">300£</h5>
                </div>
            </div>
    
        </div>
    
        <img src="assets/img/img3.png" class="card-img-top" alt="...">
    
    </div>

    <!-- 4eme  -->
    <div class="card m-3" style="width: 18rem;">
    
        <div class="card-body">
    
            <div class="row">
                <div class="col-md-12">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12 col-4 d-flex justify-content-end">
                    <h5 class="col-4 d-flex justify-content-end prix">300£</h5>
                </div>
            </div>
    
        </div>
    
        <img src="assets/img/img4.jpeg" class="card-img-top" alt="...">
    
    </div>
    
    <!-- 5eme -->
    <div class="card m-3" style="width: 18rem;">
    
        <div class="card-body">
    
            <div class="row">
                <div class="col-md-12">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12 col-4 d-flex justify-content-end">
                    <h5 class="col-4 d-flex justify-content-end prix">300£</h5>
                </div>
            </div>
    
        </div>
    
        <img src="assets/img/img5.jpeg" class="card-img-top" alt="...">
    
    </div>
    
    <!-- 5eme -->
    
    <div class="card m-3" style="width: 18rem;">
    
        <div class="card-body">
    
            <div class="row">
                <div class="col-md-12">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12 col-4 d-flex justify-content-end">
                    <h5 class="col-4 d-flex justify-content-end prix">300£</h5>
                </div>
            </div>
    
        </div>
    
        <img src="assets/img/img1.png" class="card-img-top" alt="...">
    
    </div>

    <!-- 6eme  -->
    <div class="card m-3" style="width: 18rem;">
    
        <div class="card-body">
    
            <div class="row">
                <div class="col-md-12">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12 col-4 d-flex justify-content-end">
                    <h5 class="col-4 d-flex justify-content-end prix">300£</h5>
                </div>
            </div>
    
        </div>
    
        <img src="assets/img/img6.jpeg" class="card-img-top" alt="...">
    
    </div>
    
    <!-- 7eme -->
    <div class="card m-3" style="width: 18rem;">
    
        <div class="card-body">
    
            <div class="row">
                <div class="col-md-12">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12 col-4 d-flex justify-content-end">
                    <h5 class="col-4 d-flex justify-content-end prix">300£</h5>
                </div>
            </div>
    
        </div>
    
        <img src="assets/img/img7.jpeg" class="card-img-top" alt="...">
    
    </div>
    
    <!-- 8eme -->
    
    <div class="card m-3" style="width: 18rem;">
    
        <div class="card-body">
    
            <div class="row">
                <div class="col-md-12">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12 col-4 d-flex justify-content-end">
                    <h5 class="col-4 d-flex justify-content-end prix">300£</h5>
                </div>
            </div>
    
        </div>
    
        <img src="assets/img/img8.jpeg" class="card-img-top" alt="...">
    
    </div>
</div>